    <h1>Seed Data</h1>
    <p>These buttons will seed your data!  Push them to add data to your database!!</p>
    <a asp-controller="Seed" asp-action="SeedCompany" class="btn btn-primary">Seed Companies</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedCSO" class="btn btn-secondary">Seed CSOs</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedMajor" class="btn btn-success">Seed Majors</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedRecruiter" class="btn btn-info">Seed Recruiters</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedStudent" class="btn btn-warning">Seed Students</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedIdentity" class="btn btn-danger">Seed Identity</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedPosition" class="btn btn-primary">Seed Positions</a>
    &nbsp;&nbsp;
    <a asp-controller="Seed" asp-action="SeedInterview" class="btn btn-primary">Seed Interview</a>
    &nbsp;&nbsp;